.app {
    background-image: url('../fondo1.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__title {
    position: absolute;
    text-align: center;
    font-size: 3rem;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.app__card {
    background-color: azure;
    padding: 1.5em 2em;
    border-radius: 0.8em;
    width: 100%;
    right: 10%;
    left: 10%;
    max-width: 700px;
    font-size: 20px;
    line-height: 1.4;
   
}

.app__phrase {
    font-weight: 500;
}

.app__btn {
    display: block;
    margin: auto;
    margin-top: 1.5em;
    padding: 0.8em 2em;
    font-size: 1.1em;
    border-radius: 2em;
    transition: font-size 100ms ease,
                background-color 100ms ease ,
              
}                

.app__btn:hover {
    font-size: 1.1em;
    background-color: cornflowerblue;
}