@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700&display=swap');

/*--Reset--*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

h1, h2 ,h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
}